(
    lints: [
        Struct((
            name: "architecture_lint_rule_checker",
            matches: ImplementsTrait("^cargo_pup_lint_impl::architecture_lint_rule::ArchitectureLintRule$"),
            rules: [
                MustBeNamed("^(Function|Module|Struct)Lint$", Error),
                MustBePublic(Error),
            ],
        )),
        Module((
            name: "empty_mod_rule",
            matches: Module(".*"),
            rules: [
                MustHaveEmptyModFile(Warn),
            ],
        )),
        Function((
            name: "result_error_impl_rule",
            matches: InModule(".*"),
            rules: [
                ResultErrorMustImplementError(Error),
            ],
        )),
        Module((
            name: "cargo_pup_no_lints_usage",
            matches: Module("^cargo_pup$"),
            rules: [
                RestrictImports(
                    allowed_only: None,
                    denied: Some([
                        "^cargo_pup_lint_impl::lints",
                    ]),
                    severity: Error,
                ),
            ],
        )),
    ],
)