# Item type restrictions for modules
#
# This rule allows you to restrict what types of items can be defined in 
# particular modules. For example, you might want to prevent structs
# from being defined in a module that's only supposed to contain traits.
#
# Crate: {0}
#
# Parameters:
#   modules: list of regex patterns for modules to apply restrictions to
#   denied_items: list of item types to disallow (struct, enum, trait, module, etc.)
#   severity: Error or Warn
#
type: item_type
modules:
  - "^{1}::interfaces$"  # e.g., for an interfaces directory
denied_items:
  - struct
  - enum
  - impl
severity: Warn